body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }



  #splash-page-container {
      height: 100%;
  }

  #splash-page-container.splash-page-hide {
    display: none;
}
  .splash-img {
    width: 320px;
    height: 180px;
    margin: auto;
    margin-top: 150px;
    background: #fff url("../img/map.png") 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: 320px;
  }

  .splash-line-div {
      height: 5px;
      width: 320px;
      margin: 0 auto;
      margin-top: 12px;
      background: #E5383B;
  }

  .splash-title-text {
    font-size: 34px;
    text-align: center;
    color: #E5383B;
    margin-top: 12px;
  }

  .splash-title-subtext {
    font-size: 10px;
    text-align: center;
  }

  /* PDB Body */
  .home-page {
      display: none;
  }

  .home-page.home-page-show {
      display: flex;
      flex-direction: column;
  }
  .navbar {
      overflow: hidden;
      position: fixed;
      background-color: #fff;;
      top: 0;
      z-index: 1000;
      height: 70px;
      width: 100%;
      border-bottom: 1px solid #B1A7A6;
      transition: 0.3s;
  }

  .navbar-info {
    display: flex;
    flex-direction: row;
  }

  .navbar.navbar-expand {
      height: 155px;
      transition: 0.3s;
  }

  .navbar-submenu {
     max-width: 130px;
     margin: 30px 0px 0px 24px;
  }

  .logout-text.logout-text-hide {
    display: none;
  }

  .login-text.login-text-hide {
    display: none;
  }
  .navbar-submenu p {
      
      color: #161A1D;
      font-size: 14px;
      font-weight: 100;
      padding: 0;
      opacity: 0.5;
      transition: 0.3s;

  }

  .navbar-submenu p:hover {
    cursor: pointer;
    color: #E5383B;
    transition: 0.3s;
    opacity: 1;

}


  .news-body {
      position: relative;
      margin-top: 84px;
  }

  .news-body.news-body-hide {
    display: none;
  }

  #menu-div {
      margin-top: 25px;
      margin-left: 25px;
  }

  #menu-div:hover {
    cursor: pointer;
}

  .menu-top {
      height: 3px;
      width: 13px;
      margin-top: 4px;
      margin-bottom: 5px;
      background: #161A1D;
      transition: 0.4s;
  }

  .menu-middle {
    height: 3px;
    width: 18px;
    margin-bottom: 5px;
    background: #161A1D;
    transition: 0.4s;
}

.menu-bottom {
    height: 3px;
    width: 27px;
    background: #161A1D;
    transition: 0.4s;
}

/* Menu Hover*/
.menu-top.menu-hover {
    width: 27px;
    transition: 0.4s;
}

.menu-middle.menu-hover {
    width: 27px;
    transition: 0.4s;
}

.menu-bottom.menu-hover {
    width: 27px;
    transition: 0.4s;
}


  .nav-title-div {
      position: fixed;
      left: 140px;
      text-align: center;
  }

  .nav-title-text {
      font-size: 34px;
      color: #E5383B;
      padding-top: 12px;
  }

  .nav-title-subtext {
      font-size: 10px;
      color: #B1A7A6;
  }

  .nav-search-icon {
    width: 20px;
    height: 20px;
    position: fixed;
    top: 25px;
    left: 340px;
    background: #fff url("../img/search-solid.svg") 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: 20px;
  }

  .nav-search-icon:hover {
    cursor: pointer;
  }

  .search-window {
      margin-left: auto;
      margin-top: 12px;
      width: 0px;
      height: 50px;
      background: #fff;
      z-index: 1;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .search-window:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

  .search-window.search-window-expand {
    width: 300px;
    transition: 0.3s;
}

#search-window-close {
    padding-left: 260px;
    margin-top: 18px;
}

#search-window-close:hover {
    cursor: pointer;
    color: #E5383B;
    transition: 0.3s;
}



img {
    width: 100px;
    height: 100px;
    background-size: 100px;
    border: 1px solid #B1A7A6;
    border-radius: 8px;
  }

  .headline-container {
      display: flex;
      margin: 16px 0px;
      padding-left: 12px;
      
  }

  .date-div {
      font-size: 10px;
      font-weight: 200;
      padding-left: 16px;
      color: #E5383B
  }

  .date-bookmark-div{
    display:flex;
  }

  .bookmark-div {
    width: 12px;
    height: 17px;
    margin-left: auto;
    margin-right: 25px;
    background: #fff url("../img/bookmark-regular.svg") 0% 0% no-repeat padding-box;
    opacity: 0.3;
    background-size: 12px;
    transition: 0.3s;
  }

  .bookmark-div.bookmark-div-selected {
    /* width: 12px;
    height: 17px;
    margin-left: auto;
    margin-right: 25px; */
    background: #fff url("../img/bookmark-solid.svg") 0% 0% no-repeat padding-box;
    opacity: 1;
    /* background-size: 12px; */
    transition: 0.3s;
  }

  .bookmark-div:hover {
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
  }

  .story-text {
      font-size: 14px;
      font-weight: 700;
      padding: 8px 24px 0px 16px; 
  }

  .story-text:hover {
    cursor: pointer;
}

  .provider {
    font-size: 10px;
      font-weight: 100;
      color: #B1A7A6;
      padding-left: 16px;  
      margin-top: 8px;
  }

  .border-div {
      width: 70%;
      height: 1px;
      margin: 0px auto;
      background-color: #A4161A;
      opacity: 0.19; 
  }

  /* Login */

  .login-div {
    display: none;
   
  }

  .signup-div {
    display:none;
  }

  .signup-div.signup-div-show {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }

  .register-option-div {
    text-align: center;
    font-size: 12px;
    color: #E5383B;
    font-weight: 100;
    margin-top: 16px;
    opacity: 0.8;
  }

  .register-option-div:hover{
    cursor: pointer;
   
  }

  .login-div.login-div-show {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }

  .login-form {
    margin-top: 42px;
  }

  .login-pdb-logo {
    width: 280px;
    height: 160px;
    margin: 0 auto;
    background: #fff url("../img/map.png") 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: 280px;
  }


  .login-label {
    margin-bottom: 8px;
    margin-left: 55px;
    font-size: 16px;
    font-weight: 100;
    color: #E5383B
  }

  .login-title-text-div {
    text-align: center;
  }

  .login-title-div {
    margin-bottom: 32px;
  }

  .login-logo-text-divider {
    height: 2px;
    width:280px;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    background: #E5383B;
  }

  .login-title-text {
    font-size: 16px;
    font-weight: 600;
    color: #E5383B
  }

  .login-title-subtext {
    font-size: 10px;
    font-weight: 100;
    margin-top: 4px;
    color: #B1A7A6
  }

 .username-div {
   display: flex;
   flex-direction: column;
 }

 .login-form-field {
   padding: 12px;
   width: 70%;
   margin: 0 auto;
   border: none;
   border-bottom: 1px solid #B1A7A6;
   opacity: 0.4;
 }

 .login-form-field:focus {
   outline: none;
 }

 .password-div {
   margin-top: 32px;
  display: flex;
  flex-direction: column;
}

.login-form-submit {
  padding: 12px;
  width: 78%;
  margin-top: 32px;
  margin-left: 45px;
  border: none;
  color: #fff;
  background: #161A1D;
  border-radius: 8px;
}

.login-form-submit:hover {
  cursor: pointer;
  
}

.selected-news-container {
  margin-top: 100px;
}
